<div>
    <div class="row margin-top">
        <div class="col">
            <div class="row Lottery-Result">
                <div class="col Lottery-Result__lottery-summary">
                    <div>
                        April 10th, 08:00 GMT
                    </div>
                    <!-- <div>
                        1st Place
                        0xb93b6839f49e45b115fbc9be8379d3425156c96c
                    </div>
                    <div>
                        2nd Place
                        0xa6327e2f30a01c0b04c6555a9bb45d2d092b097e
                    </div>
                    <div>
                        3rd Place
                        0x308ecb3eb52431f075535b73f7360aea7dbb846f
                    </div> -->
                </div>
                <div class="fixed Lottery-Result__summary">
                    <div class="Lottery-Result__summary__jackpot">
                        <div class="Lottery-Result__summary__jackpot__header">Jackpot</div>
                        <div class="Lottery-Result__summary__jackpot__amount">sUSD 400.00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
    </div>
</div>